
@font-face {
	font-family: 'Conv_Gotham-Medium';
	src: url('fonts/Gotham-Medium.eot');
	src: local('☺'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body{
	font-family: 'Conv_Gotham-Medium';
}
.ui-mobile body,.ui-mobile .ui-page-active{
text-shadow:none;
background-color:#1ec50d;
font-family: 'Conv_Gotham-Medium';

}	
.ui-bar-a,.ui-body-c {
	background: none;
	border:none;
	text-shadow:none;
}
.ui-page .customHeader{
	background-color:#fff;
	padding:7px 0;
	text-align:center;
	border:none;
	
}
.seperationBar{
	height:33px;
	text-align:center;
	background:url(../images/bar.png) #00a551 no-repeat right; 
} 
.seperationBar h5{
	color:#fff;
	text-shadow:none;
	margin:0;
	padding-top: 8px;
	font-size: 14px;
}
.ui-mobile label{
	padding-top:14px;
}
.contentHolder .container{
	padding:0;
}
.pageArea{
	overflow: hidden;
	background-color:#e4f0d3;
	padding:10px;
	font-size:14px;
	
}
 .pageArea h2,.sliderHead{
	margin: -7px -6px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	background-color: #02582c;
	padding: 10px 0;
	margin-bottom: 15px;
	color: #fff;
}
.sliderHead{
	margin:0;
}
.captionHolder{
	display:none !important;
}
.controlHolder{
	top:0;
	bottom:auto;
}
.ui-mobile label, div.ui-controlgroup-label,.profileArea .ui-field-contain span{
	font-size: 13px;
	color:#02582c;
	font-weight: normal;
}
.ui-field-contain span{
	padding-left:18px;
}

.lessPadLeft{
	padding-left:0 !important;
}
.lessPadRight{
	padding-right:0;
}
.ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover,.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover{
	background-color:#02582c;
	border-color:#02582c;
	color: #fff;
	text-shadow:none;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b,.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	background-color: #02582c;
	border-color: #02582c;
	color: #fff;
	text-shadow:none;
	padding: 8px;
	border-radius: 4px;
	font-weight:normal;
	font-family: 'Conv_Gotham-Medium';
	font-size:13px; 
	padding-bottom: 6px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Conv_Gotham-Medium';

}
.mobilePad{
	padding:9px 24px;
}
.ui-content {
	padding:0;
}
.ui-input-text input, .ui-input-search input{
	background:none;
	border-style: hidden;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
	border-radius:0;
	border-color: #fff;
	text-shadow:none;
	border-style: hidden;
}
html body .ui-group-theme-a .ui-focus,html head+body .ui-btn-a.ui-focus,html head+body .ui-body-a.ui-focus{
box-shadow:none;
}
img{
	
	max-width:100%;
}
.alignCenter{
	text-align:center; 
}
.link{
	color:#373b95 !important;
	text-decoration:underline;
	font-weight:normal !important;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus{
	-webkit-box-shadow: 0 0 12px #4FB86C;
	-moz-box-shadow: 0 0 12px #4FB86C;
	box-shadow: 0 0 12px #4FB86C;
}
.sliderIcon{
background-color: transparent !important;
border: none;
width: 53px;
margin-top: 22px !important;
box-shadow:none !important;

}
.panelCloseIcon{
	margin-top: 34px !important;
}
#leftpanel3{
	/*background-color: #e4f0d3;*/
	background:url(../images/desktopBgPanelx2000.png) transparent;
	background-repeat:repeat-x;
	overflow:hidden; 
}
#leftpanel3 .ui-panel-inner{
	padding-top:0 !important; 
}
.ui-panel-inner ul.ui-listview li{
	background-color:transparent;  
	font-size:16px;
	padding:18px; 
} 
.ui-panel-inner ul.ui-listview li:hover{
	
	color:#333;
}
/*.ui-panel-inner ul.ui-listview li:hover .glyphicon{
	background-color: #fff;
	color:#02582c;
	font-size:13px;
}*/
.ui-panel-inner ul.ui-listview li.activeLink{
	background-color: #02582c!important;
	color: #fff;
	border: 2px outset rgba(243, 228, 228, 0.72);
	border-bottom: none;
	border-right: 1px solid rgb(24, 29, 24);
	border-left: 1px solid rgb(57, 122, 36);
}
.ui-panel-inner ul.ui-listview li.activeLink .glyphicon{
	border-radius: 19px;
	border: 1px solid #fff;
	padding: 6px;
	background-color: #fff;
	color:#02582c;
	margin-right:10px; 
}

.ui-panel-inner ul.ui-listview li .glyphicon{
	border-radius: 19px;
	border: 1px solid #02582c;
	padding: 6px;
	background-color: #02582c;
	color:#fff;
	margin-right:10px; 
	font-size:13px;
}
.navigationHolder{
	text-align: center;
	height:95px;
	/*right: -54px;
	/*background-color: rgba(255, 255, 255, 1);
	top: -14px;
	position:relative;*/ 
}
.topPad0{
	padding-top:0; 
}
.leftPad0{
	padding-left:0 !important; 
}
.rightPad0{
	padding-right:0 !important; 
}
i{
	font-size: 13px;
	color: #02582c;
	text-align:justify;
	float: left;
}
#myButton1{
	padding-bottom:6px; 
}
.headerIcon{
	border-radius: 19px;
	border: 1px solid #fff;
	padding: 5px;
	background-color: #fff;
	color: #02582c;
	margin-right: 6px;
	float: left;
	margin-top: -4px;
	margin-left: 6px;
	font-size: 12px;
}
.panel-default>.panel-heading {
	font-size: 17px;
	color: #02582c;
	font-weight: normal;
	background-image:url(../images/gradient.png);
	background-repeat:repeat-x;
	border:1px solid rgb(230, 230, 230);
}
.panel-heading {
padding: 10px 13px;
}
.panel-default>.panel-heading a{
	font-weight:normal !important;
	color:#02582c;
	text-decoration:none; 
}
.panel-default>.panel-heading .panel-title{
	font-size:17px; 
}
.panel,.ui-page-theme-a .promotionImgHolder .ui-btn, html .promotionImgHolder .ui-bar-a .ui-btn,.ui-page-theme-a .promotionImgHolder .ui-btn:hover, html .promotionImgHolder .ui-bar-a .ui-btn:hover,.ui-page-theme-a .promotionImgHolder .ui-btn:visited, html .promotionImgHolder .ui-bar-a .ui-btn:visited{
	border:none;
	background-color:transparent; 
	box-shadow:none;
}
.panel-group .panel-heading+.panel-collapse .panel-body{
	border-top:none;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a,.ui-page-theme-a a:active, html .ui-bar-a a:active, html .ui-body-a a:active, html body .ui-group-theme-a a:active,.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited{
	font-weight:normal; 
	color:#333;
	text-decoration:none; 
}
.profileArea label{
	margin:0;
	padding:0;
}
.aboutusArea p{
	text-align:justify;
	padding:0;
}
/*.promotionImgHolder img{
	box-shadow: 0px 0px 6px 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0px 0px 6px 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 6px 5px rgba(0,0,0,.15);
}*/

.checkboxHolder .ui-checkbox input{
	top: 10%;
	width: 22px;
	height: 19px;
}
.ui-checkbox input{
	left: 0.3em;
}
.ui-page-theme-a .checkboxHolder .ui-btn{
	background-color: transparent;
	border: none;
	height: 25px;
	}

.checkboxHolder .ui-btn-icon-left:after,.checkboxHolder .ui-btn-icon-right:after,.checkboxHolder .ui-btn-icon-top:after,.checkboxHolder .ui-btn-icon-bottom:after,.checkboxHolder .ui-btn-icon-notext:after{
	background-color: rgba(253, 253, 253, 1);
	opacity: 1 !important;
	width: 21px;
	height: 21px;
	margin: -9px 2px 0 -3px;
	border: 2px solid rgba(5, 122, 43, 1);
}
	.checkboxHolder .ui-checkbox{
	float: left;
	width: 40px;
	}

	.checkboxHolder .ui-icon-check:after, html .checkboxHolder .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
		background-image:url(../images/tick.png);
	}

.hiddenFields{
	display:none; 
}
.ui-page-theme-a .selectHolder #select-choice-1-button{
	background-color: #fff;
	border: none;
	box-shadow: none;
	color:#333;
}
.selectHolder .ui-btn-icon-left:after,.selectHolder .ui-btn-icon-right:after,.selectHolder .ui-btn-icon-top:after,.selectHolder .ui-btn-icon-bottom:after,.selectHolder .ui-btn-icon-notext:after{
	background-color: #02582c;
}

.pageArea h2.subHead{
	background-color: transparent;
	color: #10693C;
	text-align: left;
	padding-left: 20px;
	padding-bottom: 0px;
	margin-bottom: 8px;
	font-size: 18px;
	margin-top:10px; 
}

.ui-page-theme-a .acordionSet .ui-btn{
	font-size: 17px;
	color: #02582c;
	font-weight: normal;
	/*background-image: linear-gradient( #F7F7F7, #E2E2E2);*/
	background-image:url(../images/gradient.png);
	background-repeat:repeat-x;
	border: 1px solid rgb(230, 230, 230);
	margin-bottom:7px; 
	background-color:transparent; 
}
.acordionSet .ui-btn-icon-left:after {
	left: auto; 
	right: 6px;
	background-color: #02582c;
	}

.acordionSet .ui-collapsible-content{
	margin-bottom:10px;
	margin-top:-7px; 
	padding:15px;
	background-color:transparent;  
	padding-top:0; 
}
.promotionArea{
	overflow:hidden; 
	padding-bottom: 8px;
	border-bottom: 1px dashed rgb(170, 170, 170);
	padding-top:8px; 
}
.promotionArea h4{
	font-size:15px; 
}
.promotionArea h5{
	font-size:13px; 
}
.ui-icon-loading {
	background: url(../images/ajax-loader.gif);
	background-size: 2.875em 2.875em;
}
/*.sliderIcon img{
	position: relative;
	z-index: 1000000000;
}
*/
.tableListing .colon{
	position: absolute;
	top: 8px;
	right: 0;
	}
.tableListing  td{
	position:relative;
	border:none;
}
.table tbody>tr>td{
	border-top:none;
}
.tableContent tbody>tr>td{
	padding:0; 
}
.mobileCustomizeLogo{
	position: relative !important;
	z-index: 10000000 !important;

}
.shadowHolder{
	position: absolute;
	right: -5px;
	top: -5px;
	width: 9px;
}

.ui-panel-display-overlay{
	box-shadow:none;
}
.ui-panel-inner {
	padding: 1em;
	}
.promotionImgHolder,.promotionImgHolder a{
	padding:0 !important; 
}
.promotionImgHolder a{
	margin-right:4px; 
}
.promotionImgHolder a img,.acordionProduct{
	border: 3px outset rgba(185, 185, 185, 0.72);
}
.acordionProduct{
	border-width:3px !important; 
}
.galleryArea h2{
	margin: 0px -6px;
	margin-bottom:0; 
}

.rightNavBut{
	margin-top:28px !important; 
}
.rightNavBut a{
padding: 6px;
font-size: 13px;
background-image: url(../images/view profile gradient.png);

}
.promotionImgHolder a{
	margin-right:0 !important; 
}
.mobileBoderTouch{
	margin-left: -6px;
	margin-right: -6px;
}
.mobileBoderTouchSelect{
	margin-left: -4px;
	margin-right: -4px;
}
.saveBut{
	width: 110px;
	padding: 9px;
}
.productProDetail{
	padding-left: 10px !important;
}
.promotionProductDetail{
	padding:0; 
}
.promotionProductDetail h4{
	font-size:14px;
	margin:0; 
}
.promotionProductDetail h5{
	font-size:12px;
	margin:4px 0; 
}
small {
font-size: 73%;
}
.visibleRow{
	display:none; 
}
.loginAreaButton .logBut{
	font-size: 12px;
	margin-right: 0;
}
.loginAreaButton .activateBut{
	font-size: 12px;
	margin-right: 0;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    
    /* Safari only override */
    ::i-block-chrome,.checkboxHolder .ui-checkbox input {
     height:auto;
     width:auto;
    }
}


@media only screen and (max-width: 480px){
	
	.ui-page .customHeader{
	padding:9px 0;
	}
	.giftHolder{
	position:relative; 
}
.giftHolder img{
	position: absolute;
	bottom: 18px;
	left: 0;
}
.rightNavBut {
margin-top: 17px !important;
}
.pad5{
	padding-left: 5px !important;
    padding-right: 5px !important;
}
.shadowHolder{
	top:-20px;
}
#leftpanel3{
	/*background-color: #e4f0d3;*/
	background-image:url(../images/mobileBgPanelx2000.png);
	background-repeat:repeat-x;
}
.navigationHolder {
	text-align: center;
	height: 81px;
}
.mobileCustomizeLogo{
	width:130px;
	
	position: relative !important;
	z-index: 10000000 !important;

}
.sliderIcon{
	
}
.nofloat{
	float:none !important;
}
.seperationBar{
	height:30px;
	text-align:center;
	background:url(../images/mobileBar.png) #00a551 no-repeat right; 
} 
.sliderIcon{
	margin-top:10px !important; 
}
.mobileMargin{
	margin-top:18px; 
}
.ui-field-contain span{
	padding-left:0;
}
.panelCloseIcon{
	margin-top: 21px !important;
}
}

@media (min-width: 768px){
	.container {
	width:auto;
	}
}